@mixin boardCardConfig() {
	width: calc(25% - #{$sideBoardCardMargin}* 2);
	min-width: 170px;
	height: 96px;
	cursor: pointer;
	border-radius: 3px;
	margin: 12px $sideBoardCardMargin;
	padding: 8px;

	@include respond(tab-land) {
		width: calc(33.33% - #{$sideBoardCardMargin}* 2);
	}
	@include respond(tab-port) {
		width: calc(50% - #{$sideBoardCardMargin}* 2);
	}
	@include respond(mobile) {
		width: calc(100% - #{$sideBoardCardMargin}* 2);
	}
}
