@mixin flexVariant($justifyVariant) {
	display: flex;
	justify-content: $justifyVariant;
	align-items: center;
}

// MEDIA QUERY MANAGER

/*
0 - 600px:      Mobile
600 - 750px:    Tablet portrait
750 - 1000px:   Tablet landscape

$breakpoint argument choices:
- mobile
- tab-port (portrait)
- tab-land (landscape)
*/

@mixin respond($breakpoint) {
	//600px
	@if $breakpoint == mobile {
		@media only screen and (max-width: $mobileWidth) {
			@content;
		}
	}
	//750px
	@if $breakpoint == tab-port {
		@media only screen and (max-width: $tabletWidthPort) {
			@content;
		}
	}
	//1000px
	@if $breakpoint == tab-land {
		@media only screen and (max-width: $tabletWidthLand) {
			@content;
		}
	}
}
