//colors
$primaryColor: #002f9d;
$primaryDarkColor: #021f59;
$primaryLightColor: #38bdff;
$mainGrey: #e1e2e3;
$darkGrey: #777474;
$lightGrey: #f0f0f0;
$mainWhite: #fff;
$offWhite: #f7f7f7;
$overlayColor: #ffed28;
$overlayColorDark: #b3a61d;

//other
$mainTransition: all 0.25s linear;

//screen widths
$minWidth: 280px;
$mobileWidth: 600px;
$tabletWidthPort: 750px;
$tabletWidthLand: 1000px;
$fullWidth: 1170px;
$navWidth: 1280px;
$footerWidth: 1300px;

//gaps
$smallGap: 8px;
$mediumGap: 16px;
$bigGap: 32px;

//fontSizes
$fontS: 14px;
$fontMS: 16px;
$fontM: 18px;
$fontML: 20px;
$fontL: 22px;
$fontLL: 26px;
$fontXL: 30px;
$fontXXL: 38px;
$fontXXXL: 44px;

//cards
$cardWidth: 240px;
$cardHeight: 320px;
