//base colors
$primaryColor: #026aa7;
$primaryDarkColor: #0d5d8b;
$primaryLightColor: #38bdff;
$activeBtnColor: #055a8c;
$textColor: #0079bf;
$textColorDark: #172b4d;
$cardBacgroundColor: #e4f0f6;

//black & white colors
$darkerGrey: #a5adba;
$darkGrey: rgba(9, 30, 66, 0.08);
$lightGrey: rgba(9, 30, 66, 0.04);
$mainWhite: #fff;
$offWhite: rgba(255, 255, 255, 0.7);
$disabledBtn: #f4f5f7;

//other
$mainTransition: all 0.2s linear;

//screen widths
$minWidth: 280px;
$mobileWidth: 600px;
$tabletWidthPort: 750px;
$tabletWidthLand: 1000px;
$fullWidth: 1170px;
$navWidth: 1280px;
$footerWidth: 1300px;

//margins
$sideBoardCardMargin: 8px;

//fontSizes
$fontSS: 12px;
$fontS: 14px;
$fontMS: 16px;
$fontM: 18px;
$fontML: 20px;
$fontL: 22px;
$fontLL: 26px;
$fontXL: 30px;
$fontXXL: 38px;
$fontXXXL: 44px;

//cards
$cardWidth: 240px;
$cardHeight: 320px;
