.add-list {
	@include addElementVariant();
	min-width: 272px;
	margin: 0 4px;
	height: 36px;
	background-color: $grey1;
	color: $textColor;
	transition: $mainTransition;

	&:hover {
		background-color: $grey2;
	}
	&:active {
		background-color: $grey3;
	}
}
