.single-card {
	@include flexVariant(space-between);
	position: relative;
	overflow-wrap: break-word;
	max-width: 252px;
	min-height: 20px;
	color: $textColorDark;
	background-color: $mainWhite;
	border-radius: 3px;
	box-shadow: 0px 3px 3px rgba(9, 30, 66, 0.25);
	padding: 10px 15px;
	margin-bottom: 8px;
	cursor: pointer;
	transition: $mainTransition;
	&:hover {
		background-color: $offWhite;
		.single-card__delete-icon {
			opacity: 0.7;
		}
	}
	p {
		max-width: 200px;
	}

	&__delete-icon {
		position: absolute;
		top: 50%;
		right: 5px;
		transform: translateY(-50%);
		opacity: 0;
		color: black;
		transition: $mainTransition;
		&:hover {
			opacity: 1;
			font-size: $fontML;
		}
	}
}
