ul {
	list-style-type: none;
}
a {
	text-decoration: none;
}
img {
	width: 100%;
	display: block;
}

h2 {
	font-size: $fontXXL;
}
h3 {
	font-size: $fontXL;
}
h4 {
	font-size: $fontL;
}
h5 {
	font-size: $fontM;
}
h6 {
	font-size: $fontMS;
}
